{% extends 'base.html.twig' %}

{% block title %}Profiel{% endblock %}

{% block body %}

    {% if app.user.contract > 0 %}
        {% if  render(controller('App\\Controller\\HoursController::getTotalPersonalHours', { 'id': app.user.id } ))  >  app.user.contract  %}
            <div class="alert alert-danger" role="alert">
                Je bent deze week {{ render(controller('App\\Controller\\HoursController::getTotalPersonalHours', { 'id': app.user.id } )) - app.user.contract }} uur over je uren heen!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endif %}

    <div class="container-fluid">
    <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mail optie's</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Optie</th>
                                    <th>Aan/uit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <form action="{{ path('subscribe_workOrder') }}" method="post" id="form-workOrder">
                                            <td>
                                                <div class="form-label">Copie ontvangen van afgehandelde werkbonnen</div>
                                            </td>
                                            <td>
                                                <label class="custom-switch">
                                                    <input id="switch1" type="checkbox" name="workOrderSwitch" class="custom-switch-input" {% if user.subscribedWorkOrder == 1 %}checked{% endif %}>
                                                    <span class="custom-switch-indicator"></span>
                                                </label>
                                            </td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="{{ path('subscribe_ticket') }}" method="post" id="form-ticket">
                                        <td>
                                            <div class="form-label">Copie ontvangen van afgehandelde tickets</div>
                                        </td>
                                        <td>
                                            <label class="custom-switch">
                                                <input id="switch2" type="checkbox" name="ticketSwitch" class="custom-switch-input" {% if user.subscribedTicket == 1 %}checked{% endif %}>
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="{{ path('subscribe_responsible_ticket') }}" method="post" id="form-subscribeTicket">
                                        <td>
                                            <div class="form-label">Mail ontvangen wanneer je verantwoordelijk wordt gesteld voor een ticket</div>
                                        </td>
                                        <td>
                                            <label class="custom-switch">
                                                <input id="switch3" type="checkbox" name="ResponsibleSwitch" class="custom-switch-input" {% if user.subscribedResponsibleTicket == 1 %}checked{% endif %}>
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="{{ path('subscribe_responsible_workOrder') }}" method="post" id="form-subscribeWorkOrder">
                                        <td>
                                            <div class="form-label">Mail ontvangen wanneer je verantwoordelijk wordt gesteld voor een werkbon</div>
                                        </td>
                                        <td>
                                            <label class="custom-switch">
                                                <input id="switch4" type="checkbox" name="ResponsibleSwitchWorkOrder" class="custom-switch-input" {% if user.subscribedResponsibleWorkOrder == 1 %}checked{% endif %}>
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="{{ path('save_contract') }}" method="post">
                                        <td>
                                            <div class="form-label">
                                                {% if user.contract is empty %}
                                                    <div class="text-red">Uren contract invullen</div>
                                                {% else %}
                                                    Uren contract invullen
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <label for="contract">
                                                <input type="text" name="contract" id="contract" value="{{ user.contract }}" class="form-control">
                                            </label>
                                            <button type="submit" class="btn btn-green btn-sm">Opslaan</button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Wachtwoord veranderen</div>
                </div>
                <div class="card-body">
                    <form action="{{ path('change_password') }}" name="changePassword">
                        <label for="changePassword">
                            <input type="password" id="changePassword" class="form-control" name="newPassword" placeholder="Nieuw wachtwoord">
                        </label>
                        <button type="submit" class="btn btn-sm btn-green">Opslaan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bugs</div>
                </div>
                <div class="card-body">
                    <form action="{{ path('bug_new') }}">
                        <label for="bug">Vul hier je feedback in</label>
                        <textarea name="bug" id="bug" class="form-control"></textarea>
                        <button type="submit" class="btn btn-sm btn-green float-right mt-3">Versturen</button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        {% for bug in bugs %}
                        <ul class="list">
                            <li class="media">
                                {{ bug.date ? bug.date|date('Y-m-d') : '' }}
                                <div class="media-body ml-3">
                                    {{ bug.message }}
                                    {% if is_granted("ROLE_ADMIN") %}
                                         <a href="{{ path('bug_delete', {'id': bug.id}) }}" class="btn btn-red btn-sm float-right">Delete</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //subscribe workOrder
        $("#switch1").click( function () {
            $.post( $("#form-workOrder").attr("action"), $("#form-workOrder").serializeArray());
        });

        //subscribe ticket
        $("#switch2").click( function () {
            $.post( $("#form-ticket").attr("action"), $("#form-ticket").serializeArray());
        });

        //subscribe Responsible Ticket
        $("#switch3").click( function () {
            $.post( $("#form-subscribeTicket").attr("action"), $("#form-subscribeTicket").serializeArray());
        });

        //subscribe Responsible WorkOrder
        $("#switch4").click( function () {
            $.post( $("#form-subscribeWorkOrder").attr("action"), $("#form-subscribeWorkOrder").serializeArray());
        });
    </script>

{% endblock %}
