{% extends 'base.html.twig' %}

{% block title %}Hours index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card shadow">
                <div class="card-header">
                    <div class="card-title">Mijn uren deze week</div>
                    <div class="card-options">
                        <h4 class="text-muted m-0">{{ "monday this week"|date("m/d/Y") }} - {{ "saturday this week"|date("m/d/Y") }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Aantal uren</th>
                                <th>Werkbon</th>
                                <th>Beschrijving</th>
                                <th>Actie</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hour in hours %}
                                <tr>
                                    <td>{{ hour.date ? hour.date|date('Y-m-d H:i:s') : ''  }}</td>
                                    <td>{{ hour.hours }}</td>
                                    <td><a href="{{ path('work_orders_show', {'id': hour.workOrder.id }) }}">{{ hour.workOrder }}</a></td>
                                    <td>{{ hour.description }}</td>
                                    <td>{{ include('hours/_delete_form.html.twig') }}</td>
                                </tr>
                            {% else %}
                                <p>Geen Uren geregistreerd</p>
                            {% endfor %}
                            <tr>
                                <td><p class="font-weight-bold">Totaal {{ render(controller('App\\Controller\\HoursController::getTotalPersonalHours', { 'id': app.user.id } )) }}</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card shadow">
                <div class="card-header">
                    <div class="card-title">Mijn uren van 20 tot 20</div>
                    <div class="card-options">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Selecteer maand
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Aantal uren</th>
                                <th>Werkbon</th>
                                <th>Beschrijving</th>
                                <th>Actie</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hour in hours20 %}
                                <tr>
                                    <td>{{ hour.date ? hour.date|date('Y-m-d H:i:s') : ''  }}</td>
                                    <td>{{ hour.hours }}</td>
                                    <td><a href="{{ path('work_orders_show', {'id': hour.workOrder.id }) }}">{{ hour.workOrder }}</a></td>
                                    <td>{{ hour.description }}</td>
                                    <td>{{ include('hours/_delete_form.html.twig') }}</td>
                                </tr>
                            {% else %}
                                <p>Geen Uren geregistreerd</p>
                            {% endfor %}
                            <tr>
                                <td><p class="font-weight-bold">Totaal {{ render(controller('App\\Controller\\HoursController::getTotalPersonalHours20', { 'id': app.user.id } )) }}</p></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('excel') }}" class="btn btn-success">Excel</a><span class="text-muted"> (Uren worden alleen nog maar opgeteld per dag)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- popup -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kies de maand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('month_excel') }}" method="post" id="month">
                        <select name="month" id="month" class="form-control">
                            <option value="" disabled selected>Selecteer</option>
                            {% for hourMonth in hoursMonth %}
                                <option value="{{ hourMonth.datum }}" name="month" id="month">{{ date('2012-' ~  hourMonth.datum ~ '-01') |date('M') }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-success" form="month">Doorgaan</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
